img {
	width: 80px; /* Ajusta este valor para cambiar el tamaño */
	height: 80px; /* Ajusta este valor para cambiar el tamaño */
	border-radius: 10px;
}

#timer {
	margin-top: 20px;
	font-size: 18px;
	font-weight: bold;
}
body {
	background-color: #e5e5ff; /* Azul oscuro */
	color: rgb(0, 0, 0);
	font-family: Arial, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	height: 100vh;
	margin: 0;
	padding-top: 20px; /* Espacio en la parte superior */
}

#timer {
	font-size: 24px;
	margin-bottom: 10px;
	text-align: center;
}

#data-container {
	margin-top: 20px;
	width: 100%;
	max-width: 600px; /* Limitar el ancho del contenedor */
}

.item {
	display: flex;
	justify-content: center; /* Centrar los elementos dentro de cada item */
	align-items: center;
	margin-bottom: 10px;
	padding: 5px;
	border-radius: 5px;
}

.item p {
	margin: 0;
	font-size: 18px;
}

img {
	width: 80px;
	height: 80px;
	margin-left: 10px;
	border-radius: 10px;
}
